body { 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-top:0px;
    margin-right:0px;
    margin-left:0px;
    color: #777777;
    text-align: center;
    background-image: url("file:///C:/Users/jenni/Desktop/Basic-Portfolio/assets/images/concrete_seamless.png");
    font-size: 18px;
    }

a {
    color: inherit;
    text-decoration: none;
}
header { 
    color: #666666;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 700;
    height: 30px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
    padding:20px;
    background: #ffffff;
    border-color: #cccccc;
}

.links { 
    clear: both;
    float:right;
    height: 30px;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    background: #ffffff;
}

.name { 
    float:left;
    padding: 20px;
    margin-top: -20px;
    margin-left:277px;
    height: 30px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 700;
    background: #4aaaa5;
}
          
main { 
    background: #ffffff;
    padding: 20px;
    margin: 20px;
    color: #4aaaa5;
    border-color: #cccccc;
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
      
}

.aboutMe { 
    clear: both;
    float: left;
    padding: 2px;
    margin: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    width: 20%;
    background-color: #ffffff;
    }

.image {
    clear: both;
    float: left;
    margin: 20px;
    }

.bar { 
    clear: both;
    padding: .5px;
    margin-right: 20px;
    margin-left: 20px;
    background: #cccccc;
}

.bio {
    padding: 2px;
    margin: 20px;
    font-size: 14px;
    color: #777777;
    text-align: left;
}

.formGroup {
    padding: 20px;
    font-size: 14px;
    color: #777777;
    text-align: left;
    }

.yourName {
        width: 916px;
        margin-top: 8px;
      }
      
.mail {
        width: 916px;
        margin-top: 8px;
      }
      
.msg {
        width: 916px;
        height: 150px;
        margin-top: 8px;
      }

.btn {
    height: 40px;
    width: 80px;
    line-height: 2;
    font-size: 1rem;
    text-align: center;
    color: #eee;
    background-color: #4aaaa5;
    border-color: #cccccc;
    }

.gallery {
    width: 600px;
    height: 800px;
    background-color: #fff;
    
}

.containerItems {
    position: relative;
    background-color: #eee;
}

.bars {
    background: #777777;
    position: absolute;
    float: left;
        height: 40px;
    width: 256px;
    top: 150px;
    color: #ccc; 
    font-family: inherit;
    line-height: 40px;
}
.pictures {
    float: left;
    position: relative;
    padding: 10px;
    margin: 10px;
   right: -20px;
}

footer { 
    clear: both;
    height: 50px;
    padding: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background: #666666;
        }
    
.bottomBorder { 
    /*clear: both;
    float: bottom;*/
    height: 6px;
    padding: 2px;
    margin-top: 0px;
    margin-bottom: 8px;
    background: #4aaaa5;
    }
    

    